/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.navbar {
  background-color: #222222;
  color: #cccccc;
  position: fixed;
  top: 0;
  padding: 10px;
  width: 100%;
  height: 35px; }
  .navbar .hamburger-menu {
    display: none;
    cursor: pointer;
    float: right;
    margin-right: 30px; }
    .navbar .hamburger-menu .hamburger-menu-icon {
      width: 35px;
      height: 35px; }
    .navbar .hamburger-menu:hover {
      color: #c96767; }
  .navbar .nikzt-logo {
    cursor: pointer;
    float: left;
    font-family: Comfortaa;
    font-size: 2em;
    margin-top: 1px; }
  .navbar .navbar-links {
    margin-right: 40px;
    float: right; }
    .navbar .navbar-links li {
      float: right;
      margin-top: 4px;
      padding: 5px;
      cursor: pointer; }
      .navbar .navbar-links li span {
        cursor: pointer;
        text-decoration: none;
        margin-left: 20px;
        font-size: 1em;
        position: relative;
        color: #cccccc; }
        .navbar .navbar-links li span:after {
          position: absolute;
          height: 23px;
          width: 100%;
          right: 0px;
          content: "";
          border-bottom: solid 2px #c96767;
          transform: scaleX(0);
          transition: transform 250ms ease-in-out; }
        .navbar .navbar-links li span:hover, .navbar .navbar-links li span.on-link-page {
          text-decoration: none; }
          .navbar .navbar-links li span:hover:after, .navbar .navbar-links li span.on-link-page:after {
            transform: scaleX(1); }

/* When the screen is less than 600 pixels wide hide the links... */
@media screen and (max-width: 600px) {
  .navbar .navbar-links {
    display: none; }
  .navbar .hamburger-menu {
    display: inline; } }

/* ...Unless the navbar has the responsive class, which means that the menu
   has been expanded, so we show the links vertically */
@media screen and (max-width: 600px) {
  .navbar .navbar-links.show-dropdown {
    cursor: pointer;
    display: block;
    position: absolute;
    top: 55px;
    left: 0px;
    background-color: #222222;
    width: 100%;
    font-size: 1.3em; }
    .navbar .navbar-links.show-dropdown span {
      display: block;
      margin: 4px 40px 4px 4px;
      padding: 4px; }
      .navbar .navbar-links.show-dropdown span:after {
        display: none; }
      .navbar .navbar-links.show-dropdown span:hover, .navbar .navbar-links.show-dropdown span.on-link-page {
        color: #c96767; }
    .navbar .navbar-links.show-dropdown li {
      float: none; } }

.homepage .bio {
  width: 300px;
  height: 200px;
  display: block;
  background-color: #222222; }
  .homepage .bio img {
    width: 150px;
    height: 150px; }

.commissions-page .hire-me {
  text-align: center; }

.gallery-page img {
  display: block;
  margin: 30px auto 0 auto;
  height: 500px; }

html,
body {
  background-color: #e6e6e6;
  color: #414141;
  font-family: "Nunito", sans-serif;
  margin-top: 30px; }
  html .content-block,
  body .content-block {
    background-color: #222222;
    color: #cccccc;
    margin: 10px;
    padding: 10px; }

h1 {
  font-size: 1.9em;
  text-align: center; }

h2 {
  font-size: 1.5em; }

.page {
  max-width: 1000px;
  width: 80%;
  min-width: 280px;
  margin: 0 auto 0 auto;
  padding-top: 15px; }

.highlight-text {
  color: #c96767; }

.unselectable {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none; }
