.navbar {
    background-color: $bg;
    color: $fg;

    // Navbar should always appear at the top of the page
    position: fixed;
    top: 0;
    padding: 10px;
    width: 100%;
    height: 35px;

    .hamburger-menu {
        display: none;
        cursor: pointer;
        float: right;
        margin-right: 30px;

        .hamburger-menu-icon {
            width: 35px;
            height: 35px;
        }

        &:hover {
            color: $highlight1;
        }
    }

    .nikzt-logo {
        cursor: pointer;
        float: left;
        font-family: Comfortaa;
        font-size: 2em;
        margin-top: 1px;
    }

    .navbar-links {
        margin-right: 40px;
        float: right;
        li {
            float: right;
            margin-top: 4px;
            padding: 5px;
            cursor: pointer;

            span {
                cursor: pointer;
                text-decoration: none;
                margin-left: 20px;
                font-size: 1em;
                position: relative;
                color: $fg;

                // Bottom border expands on hover
                &:after {
                    position: absolute;
                    height: 23px;
                    width: 100%;
                    right: 0px;
                    content: "";

                    border-bottom: solid 2px $highlight1;
                    transform: scaleX(0);
                    transition: transform 250ms ease-in-out;
                }

                &:hover,
                &.on-link-page {
                    text-decoration: none;

                    &:after {
                        transform: scaleX(1);
                    }
                }
            }
        }
    }
}

/* When the screen is less than 600 pixels wide hide the links... */
@media screen and (max-width: 600px) {
    .navbar .navbar-links {
        display: none;
    }
    .navbar .hamburger-menu {
        display: inline;
    }
}
/* ...Unless the navbar has the responsive class, which means that the menu
   has been expanded, so we show the links vertically */
@media screen and (max-width: 600px) {
    .navbar .navbar-links.show-dropdown {
        cursor: pointer;
        display: block;
        position: absolute;

        top: 55px;
        left: 0px;
        background-color: $bg;
        width: 100%;
        font-size: 1.3em;

        span {
            display: block;
            margin: 4px 40px 4px 4px;
            padding: 4px;
            &:after {
                display: none;
            }
            &:hover,
            &.on-link-page {
                color: $highlight1;
            }
        }
        li {
            float: none;
        }
    }
}
